<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="nopcommerce" verbose="2" >
	
<listeners>
	<listener class-name="com.nopcommerce.utilities.Reporting"/>
</listeners>	

	<test name="chromeTest">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.nopcommerce.testCases.TC_LoginTest_001" />
			<!--  <class name="com.nopcommerce.testCases.TC_LoginDDT_002" />-->
			<class name="com.nopcommerce.testCases.TC_AddCustomerTest_003" />
			
		</classes>
	</test>

</suite>